{% extends "base.html" %}

{% block title %}   
    <title>Register</title>
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
    <center>
    <h3>Registration Form</h3>
    <form action="{% url 'registerData' %}" method="post" enctype="multipart/form-data">
        <!--------for data security on url------------------>
        {% csrf_token %}  
    <!-----'name' ko as a key treat krte hai yha------>
    Name: <input type="text" name="name">
    <br>
    <br> 
    Email: <input type="email" name="email">
    <br>
    <br> 
    Contact: <input type="number" name="contact">
    <br>
    <br> 
    Details: <textarea name="details"></textarea>
    <br>
    <br>
    <!-- enctype="multipart/form-data" (used to upload binary data) -->  
    Image : <input type="file" name="image">
    <input type="submit" value="register">
    </form>
    </center>
{% endblock content %}